.container_tela_7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;

    gap: 1.5rem;

    background-color: #222961;
    background-image: url(../imagens/imagensCentroT1/fundo_3.jpeg);
}

.voltar_tela_7 {
    display: flex;

    height: 10vh;
    width: 8vw;

    position: relative;
    left: 1.5rem;
    bottom: 1.5rem;

    border: red 2px solid;
}


.topo_tela_7 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 22vh;
    width: 99vw;

    gap: 5%;

    border: red 2px solid;
}

.inicio_tela_7 {
    display: flex;

    height: 10vh;
    width: 15vw;

    border: red 2px solid;

}

.titulo_tela_7 {
    display: flex;

    height: 15vh;
    width: 30vw;

    border: red 2px solid;

}

.fim_tela_7 {
    display: flex;

    height: 10vh;
    width: 15vw;

    border: red 2px solid;

}

.confirmar_tela_7 {
    display: flex;

    height: 10vh;
    width: 8vw;

    position: relative;
    right: 1.5rem;
    bottom: 1.5rem;

    border: red 2px solid;
}

.baixo_tela_7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 72vh;
    width: 90vw;

    gap: 0.5rem;

    border: red 2px solid;

}

.titulo_descricao_tela_7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 10vh;
    width: 88vw;

    position: relative;
    bottom: 1rem;

    gap: 3%;

    border: red 2px solid;
}

.itens_titulo_tela_7 {
    display: flex;
    height: 6vh;
    width: 8vw;
    border: red 2px solid;
}

.descricao_tela_7 {
    display: flex;
    height: 5vh;
    width: 85vw;
    border: red 2px solid;
}