.container_tela_1 {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;

    /* background-color: #222961; */
    background-image: url(../imagens/imagensCentroT1/fundo_3.jpeg);
}

.centro_tela_1 {
    display: flex;

    height: 100vh;
    width: 78vw;
    gap: 6%;

    position: absolute;
    right: 0rem;
}


.parte_direita_tela_1 {
    overflow: hidden;

    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.parte_esquerda_tela_1 {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 6%;
}

.parte_superior_tela_1 {
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.titulo_pizza_tela_1{
    margin: 50px;
    height: 5%;
    width: 90%;
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}

.pequenas_estatisticas_tela_1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    height: 35%;
}

.pequeno_detalhe{
    width: 50%;
    border-radius: 12px;
    display: flex;
    height: 30%;
    }

.estatistica{
    width: 50%;
    display: flex;
    font-size: 17px;
    color: whitesmoke;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    flex-direction: row;
}

.PIZZA{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45%;
}

.grafico_PIZZA {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    overflow: hidden;
    height: 80vh;
    width: 23vw;
    background-color: rgb(34, 41, 97, 0.85);
    border-radius: 40px;
}

.tabela_hora {
    overflow: hidden;

    background-image: url('../imagens/imagensCentroT1/clima.gif');
    background-repeat: no-repeat;
    background-size: 20vh;
    background-position: center;
    width: 18vw;
    height: 30vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 120, 141);
}

.relogio {
    color: white;
}

.data {
    color: white;
}


.link {
    text-decoration: none;
}

.grafico_MAT {
    display: flex;
    overflow: hidden;
    width: 39vw;
    background-color: rgb(34, 41, 97, 0.85);
    border-radius: 40px;
    height: 40vh;
    background-size: contain;
}

.MAT {
    margin-top: 11%;
}

.tabela_QDC {
    overflow: hidden;

    background-color: rgb(34, 41, 97, 0.85);
    width: 18vw;
    height: 30vh;
    border-radius: 30px;
}

.titulo_QDC {
    color: whitesmoke;
    padding: 12px;
    margin: 3px;
    font-size: 9px;
}