.container_tela_7 {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #222961;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../imagensCentroT1/fundo_3.jpeg);
}

.voltar_tela_7 {
    display: flex;
    height: 10vh;
    width: 8vw;
    border: red 2px solid;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
}


.topo_tela_7{
    display: flex;
    height: 22vh;
    width: 99vw;
    border: red 2px solid;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.inicio_tela_7 {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 10vh;
    width: 17vw;
    border: green 2px solid;
    overflow: hidden;
}

.editar_inicio_tela_7{
    border: red 2px solid;
    height: 100vh;
    width: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_tela_7{
    display: flex;
    align-items: center;
    justify-content: end;
    overflow: hidden;
    height: 15vh;
    width: 30vw;
    border: red 2px solid;
}

.editar_titulo_tela_7{
    border: red 2px solid;
    height: 100vh;
    width: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fim_tela_7{
    display: flex;
    align-items: center;
    justify-content: end;
    overflow: hidden;
    height: 10vh;
    width: 17vw;
    border: blue 2px solid;
}

.editar_fim_tela_7{
    border: red 2px solid;
    height: 100vh;
    width: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmar_tela_7 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 8vw;
    border: red 2px solid;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

.baixo_tela_7 {
    display: flex;
    height: 72vh;
    width: 90vw;
    border: red 2px solid;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: top;
}

.titulo_descricao_tela_7{
    display: flex;
    height: 10vh;
    width: 88vw;
    border: red 2px solid;
    bottom: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.itens_titulo_tela_7 {
    display: flex;
    height: 6vh;
    width: 8vw;
    border: red 2px solid;
}

.descricao_tela_7 {
    display: flex;
    height: 5vh;
    width: 85vw;
    border: red 2px solid;
}

.logo_adicao_tela_7{
    width: 3vw;
    height: 6vh;
}

.botao_adicao_tela7{
    border: red 2px solid;
    height: 5vh;
    width: 3vw;
}