.container_tela_5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;

    height: 100vh;
    width: 100vw;

    background-image: url(../imagens/imagensCentroT1/fundo_3.jpeg);

    .topo_tela_5 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;

        height: 22vh;
        width: 99vw;

        position: relative;
        bottom: 1%;

        .voltar_tela_5 {
            display: flex;
            align-items: center;
            justify-content: center;

            height: auto;
            width: auto;

            position: relative;
            right: 1.5rem;
            bottom: 1.5rem;
        }

        .inicio_tela_5 {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 10vh;
            width: 15vw;

            font-size: x-large;
            font-weight: bold;
            text-align: center;
            color: #FFF;

        }

        .titulo_tela_5 {
            display: flex;

            height: 15vh;
            width: 28vw;

            font-size: xx-large;
            font-weight: bold;
            text-align: center;
            color: #FFF;
        }


        .fim_tela_5 {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 10vh;
            width: 15vw;

            font-size: x-large;
            font-weight: bold;
            text-align: center;
            color: #FFF;
        }

        .editar_tela_5 {
            display: flex;
            align-items: center;
            justify-content: center;

            height: auto;
            width: auto;

            position: relative;
            left: 1.5rem;
            bottom: 1.5rem;
        }
    }

    .baixo_tela_5 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;

        height: 68vh;
        width: 90vw;

        border-radius: 1rem;

        position: relative;
        bottom: 5%;

        background-color: rgb(34, 41, 97, 0.85);


        .titulo_descricao_tela_5 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            overflow: hidden;
            gap: 4%;

            height: 3vh;
            width: 88vw;

            position: relative;
            bottom: 35%;

            .itens_titulo_tela_5 {
                display: flex;

                height: auto;
                width: auto;

                font-weight: bold;
                letter-spacing: 1px;
                color: white;
            }
        }

        .linha_tela_5 {
            display: flex;

            height: 2px;
            width: 95%;

            position: relative;
            bottom: 35%;
            margin-bottom: 15px;

            background-color: #FFF;
        }

        .descricao_tela_5 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10%;

            height: 5vh;
            width: 85vw;

            border-radius: 2rem;

            position: relative;
            bottom: 35%;

            background-color: rgb(36, 44, 105, 1);

            .informação {
                display: flex;

                height: auto;
                width: auto;

                letter-spacing: 1px;
                color: #FFF;

            }
        }
    }
}