.container_tela_7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;

    gap: 1.5rem;

    background-color: #222961;
    background-image: url(../imagens/imagensCentroT1/fundo_3.jpeg);

    .topo_tela_7 {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 22vh;
        width: 99vw;

        gap: 5%;

        border: red 2px solid;

        .espaco_tela_7 {
            display: flex;

            height: 10vh;
            width: 8vw;

            position: relative;
            left: 1.5rem;
            bottom: 1.5rem;

            /* border: red 2px solid; */
        }



        .inicio_tela_7 {
            display: flex;
            align-items: center;
            justify-content: end;
            height: 10vh;
            width: 17vw;
            border: green 2px solid;
            overflow: hidden;

            .editar_inicio_tela_7 {
                /* border: red 2px solid; */
                height: 100vh;
                width: 4vw;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .titulo_tela_7 {
            display: flex;
            align-items: center;
            justify-content: end;
            overflow: hidden;
            height: 15vh;
            width: 30vw;
            border: red 2px solid;

            .editar_titulo_tela_7 {
                /* border: red 2px solid; */
                height: 100vh;
                width: 6vw;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .fim_tela_7 {
            display: flex;
            align-items: center;
            justify-content: end;
            overflow: hidden;
            height: 10vh;
            width: 17vw;
            border: blue 2px solid;

            .editar_fim_tela_7 {
                /* border: red 2px solid; */
                height: 100vh;
                width: 4vw;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }


        .confirmar_tela_7 {
            display: flex;

            height: 10vh;
            width: 8vw;

            position: relative;
            right: 1.5rem;
            bottom: 1.5rem;

            border: red 2px solid;
            justify-content: right;
        }
    }

    .baixo_tela_7 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 72vh;
        width: 90vw;

        gap: 0.5rem;

        border: red 2px solid;


        .titulo_descricao_tela_7 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            height: 10vh;
            width: 88vw;

            position: relative;
            bottom: 10rem;

            gap: 3%;

            border: red 2px solid;

            .itens_titulo_tela_7 {
                display: flex;
                height: 6vh;
                width: 8vw;
                border: red 2px solid;
            }
        }

        .descricao_tela_7 {
            display: flex;
            height: 5vh;
            width: 85vw;
            border: red 2px solid;
            position: relative;
            bottom: 10rem;
        }


        .botao_adicao_tela7 {
            border: red 2px solid;
            height: 5vh;
            width: 3vw;

            .logo_adicao_tela_7 {
                width: 3vw;
                height: 6vh;
            }
        }
    }
}