.container_tela_10 {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #222961;
    background-image: url(../imagens/imagensCentroT1/fundo_3.jpeg);
}



.lateral_tela_10 {
    display: flex;
    height: 100vh;
    width: 78vw;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    flex-direction: row;
    position: absolute;
    right: 0rem;
}

.estagiarios_tela_10 {
    display: flex;
    height: 80%;
    width: 25%;
    background-color: rgb(41, 45, 81, 0.85);
    align-items: center;
    justify-content: top;
    flex-direction: column;
    border-radius: 2.5rem;
    color: white;
    font-size: 80%;
}


.nome_estagiarios_tela_10 {
    display: flex;
    height: 8%;
    width: 85%;
    margin-top: 1rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    color: rgb(151, 151, 151);
    font-size: 9px;

}

.nome_estagiarios_tela_10:hover {
    background-color: rgba(63, 68, 104, 0.8);
    color: whitesmoke;
}

.chamados_tela_10 {
    display: flex;
    height: 80%;
    width: 60%;
    background-color: rgb(41, 45, 81, 0.85);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    border-radius: 2.5rem;
}

.chamados_grafico_tela_10 {
    display: flex;
    height: 40%;
    width: 90%;
    background-color: #222961;
}

.chamados_estagiarios_tela_10 {
    display: flex;
    height: 40%;
    width: 90%;
    background-color: #222961;
}

.background-image {
    display: flex;
    height: 100%;
    width: 100%;
}