.container_tela_6 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;

    height: 100vh;
    width: 100vw;

    background-image: url(../../imagens/imagensCentroT1/fundo_container.png);

    .topo_tela_6 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;

        height: 22vh;
        width: 99vw;

        .voltar_tela_6 {
            display: flex;
            align-items: center;
            justify-content: center;

            height: auto;
            width: auto;

            right: 1.5rem;
            bottom: 1.5rem;
        }

        .inicio_tela_6 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            height: 10vh;
            width: 15vw;

            font-size: x-large;
            font-weight: bold;
            text-align: center;
            color: #FFF;
        }

        .titulo_tela_6 {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            height: 15vh;
            width: 28vw;

            font-size: xx-large;
            font-weight: bold;
            text-align: center;
            color: #FFF;
        }

        .fim_tela_6 {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            height: 10vh;
            width: 15vw;

            font-size: x-large;
            font-weight: bold;
            text-align: center;
            color: #FFF;
        }
    }

    .baixo_tela_6 {
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;

        height: 68vh;
        width: 30vw;

        border-radius: 1rem;

        background-color: rgb(34, 41, 97, 0.85);

        .titulo_descricao_tela_6 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            overflow: hidden;
            gap: 4%;

            height: 4vh;
            width: 90vw;

            margin-top: 30px;
            margin-bottom: 5px;

            .itens_titulo_tela_6 {
                display: flex;
                margin: 11px;

                height: auto;
                width: auto;

                font-weight: bold;
                letter-spacing: 1px;
                color: white;
            }
        }

        .linha_tela_6 {
            display: flex;

            height: 2px;
            width: 95%;

            margin-bottom: 15px;

            background-color: #FFF;
        }
    }
}

.check_tela_6 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: auto;
    width: auto;
}

.titulo{
    background-color: rgb(34, 41, 97, 0.85);
    color: whitesmoke;
    font-size: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setoreslogos{
    border: red solid 2px;
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linhasdesetores{
    display: flex;
    flex-direction: row;
}

.setor{
    width: 90px;
    height: 90px;
    margin: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setorlogo{
    width: 90px;
}

.setortitulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloinicio{
    display: flex;
    background-color: rgb(34, 41, 97, 0.85);
    width: 165px;
    height: 38px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}

.titulofim{
    display: flex;
    background-color: rgb(34, 41, 97, 0.85);
    width: 165px;
    height: 38px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}

.salvarBotao{
    color: whitesmoke;
    background-color: rgb(34, 41, 97, 0.85);
    font-size: 17px;
}

/* Esconde o ícone nativo do campo de data */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none; /* Chrome/Safari */
}

input[type="date"]::-moz-calendar-picker-indicator {
    display: none; /* Firefox */
}

input[type="date"]::-ms-clear {
    display: none; /* Internet Explorer */
}

.formssetores {
    display: flex;
    justify-content: center; /* Centraliza o select dentro do form */
    align-items: center;     /* Centraliza o conteúdo do form verticalmente */
    width: 100%;             /* Garante que ocupe 100% do espaço disponível */
    max-width: 525px; 
    margin-bottom: 40px;       /* Define uma largura máxima */
}

.titulosetor {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    height: 100%;             /* Garantir que tenha altura suficiente para centralizar */
}