.container_detalhe {
    display: flex;
    height: 2vh;
    width: 100%;
    background-image: url(../../pages/imagens/imagensBarralateral/detalhe.png);
    position: fixed;
    z-index: 1;
    bottom: 0;
}