.container_barra_lateral {
    display: flex;
    height: 100vh;
    width: 22vw;

    
    position: fixed;
}
 
.barra_lateral {
    display: flex;
    height: 100vh;
    width: 22vw;
    
    align-items: center;
    flex-direction: column;
    
    gap: 4%;
    
    overflow-y: auto;
    overflow-x: hidden;
    
    background-color: rgb(36, 44, 105, 0.9);
}

/* Largura da barra de rolagem */
.barra_lateral::-webkit-scrollbar {
    width: 0.75vw;
}

/* Fundo da barra de rolagem */
.barra_lateral::-webkit-scrollbar-track {
    background: rgb(36, 44, 105);
    border-radius: 10px;
}

/* Cor da barra de rolagem */
.barra_lateral::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #434486, #4f2f6b);
    border-radius: 10px;
}

/* Cor da barra ao passar o mouse */
.barra_lateral::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, #5D5FBA, #683E8D);
}
.sti_logo {
    display: flex;
    height: auto;
    width: auto;
    
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* border: red solid 1px; */
}

.stilogo{
    display: flex;
    /* height: 3vh; */
    width: 9vw;
}

.categorias {
    display: flex;
    /* justify-content: left; */
    /* border: green 2px solid; */
    flex-direction: column;
    /* height: 10%; */
    width: 80%;
    gap: 1.5rem;
    
    .dashboard {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(63, 68, 104, 0.3);
    border-radius: 2rem;
    border: rgb(180, 180, 180) 1px solid;

    }

    .dashboard:hover {
    background-color: rgb(36, 44, 105, 1);
    border-radius: 2rem;
    }

    .setores {
    width: 100%;
    /* border: red solid 1px; */
    align-items: center;
    display: flex;
    background-color: rgba(63, 68, 104, 0.3);
    border-radius: 2rem;
    border: rgb(180, 180, 180) 1px solid;
    }

    .setores:hover {
    background-color: rgb(36, 44, 105, 1);
    border-radius: 2rem;
    }

    .chamados {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(63, 68, 104, 0.3);
    border-radius: 2rem;
    border: rgb(180, 180, 180) 1px solid;
    }

    .chamados:hover {
    background-color: rgb(36, 44, 105, 1);
    border-radius: 2rem;
    }

    .materiais {
    width: 100%;
    display: flex;
    align-items: center;
    /* border: red solid 1px; */
    background-color: rgba(63, 68, 104, 0.3);
    border-radius: 2rem;
    border: rgb(180, 180, 180) 1px solid;
    }

    .materiais:hover {
    background-color: rgb(36, 44, 105, 1);
    border-radius: 2rem;
    }

    .profissionais {
    width: 100%;
    align-items: center;
    display: flex;
    /* border: red solid 1px; */
    background-color: rgba(63, 68, 104, 0.3);
    border-radius: 2rem;
    border: rgb(180, 180, 180) 1px solid;
    }

    .profissionais:hover {
    background-color: rgb(36, 44, 105, 1);
    border-radius: 2rem;
    }

    .titulodeBL {
    color: white;
    font-size: 2vw;
    text-shadow: 1.5px 1.5px 3px black;
    }
}